# Ignore virtual environment
venv/
.env

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Logs and database files
*.log
*.sqlite3

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# macOS and Windows system files
.DS_Store
Thumbs.db

# VS Code settings and Python cache
.vscode/
*.swp
*.swo

# PyCharm IDE files
.idea/
*.iml

# Ignore pip environment files
pip-log.txt
pip-delete-this-directory.txt

# Ignore pytest cache
.pytest_cache/

# Ignore coverage reports
.coverage
htmlcov/
coverage.xml

# Ignore mypy cache
.mypy_cache/

# Ignore temporary files created by editors
*~
*.bak

# Ignore Node.js dependencies and cache
node_modules/
.npm/



# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
